<footer class="footer">
  <div class="footer__container">
    <p class="footer__text">
      © Povetek Отель создан
      <a
        class="footer__link"
        href="https://www.linkedin.com/in/dmitrydutin"
        target="_blank"
        rel="nofollow noopener noreferrer"
      >
        Dmitry Dutin
      </a><!--
    -->. From a creative to all the others.
    </p>

    <nav class="footer__social">
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a
            class="footer__social-link"
            href="https://twitter.com/dmitrydutin"
            target="_blank"
            rel="nofollow noopener noreferrer"
          >
            <tui-svg src="tuiIconTwitterLarge"></tui-svg>
          </a>
        </li>

        <li class="footer__social-item">
          <a
            class="footer__social-link"
            href="https://www.linkedin.com/in/dmitrydutin"
            target="_blank"
            rel="nofollow noopener noreferrer"
          >
            <tui-svg src="tuiIconLinkedinLarge"></tui-svg>
          </a>
        </li>

        <li class="footer__social-item">
          <a
            class="footer__social-link"
            href="https://www.instagram.com/dmitry.dutin"
            target="_blank"
            rel="nofollow noopener noreferrer"
          >
            <tui-svg src="tuiIconInstagramLarge"></tui-svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
