<header class="header">
  <a class="header__logo" routerLink="/">{{ "Povetek Отель" }}</a>

  <nav class="header__menu">
    <ul class="header__menu-list">
      <li class="header__menu-item">
        <a class="header__menu-link" href="">Tools</a>
      </li>

      <li class="header__menu-item">
        <a class="header__menu-link" href="">Go Pro</a>
      </li>

      <li class="header__menu-item">
        <span class="header__divider"></span>
      </li>

      <li class="header__menu-item">
        <a class="header__menu-link" href="">Регистрация</a>
      </li>

      <li class="header__menu-item">
        <a class="header__menu-button" href="http://google.com" tuiButton type="button" size="s">Войти</a>
      </li>
    </ul>
  </nav>
</header>
