.table {
  width: 100%;
}

.checkbox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-row-button {
  margin-top: 12px;
  width: 100%;
  --tui-radius-m: 6px;
}
