<app-header></app-header>

<div class="rooms">
  <div class="container">
    <div class="rooms__inner">
      <h1 class="tui-text_h1">Статистика</h1>

      <table tuiTable class="table" [columns]="['param', 'value']">
        <thead>
          <tr tuiThGroup>
            <th tuiTh>Параметр</th>
            <th tuiTh>Значение</th>
          </tr>
        </thead>

        <tbody tuiTbody>
          <tr tuiTr>
            <td *tuiCell="'param'" tuiTd>Самая дорогая бронь люксового номера</td>
            <td *tuiCell="'value'" tuiTd>{{ maxPrice$ | async }} рублей</td>
          </tr>

          <tr tuiTr>
            <td *tuiCell="'param'" tuiTd>Самая дешевая бронь трехместного номера</td>
            <td *tuiCell="'value'" tuiTd>{{ minPrice$ | async }} рублей</td>
          </tr>

          <tr tuiTr>
            <td *tuiCell="'param'" tuiTd>Средняя цена брони, где в качестве меню выбран Шведский стол</td>
            <td *tuiCell="'value'" tuiTd>{{ avgPrice$ | async }} рублей</td>
          </tr>

          <tr tuiTr>
            <td *tuiCell="'param'" tuiTd>Количество броней, где трансфер класса Комфорт или Бизнес</td>
            <td *tuiCell="'value'" tuiTd>{{ reservationsCount$ | async }} штуки</td>
          </tr>

          <tr tuiTr>
            <td *tuiCell="'param'" tuiTd>Количество броней, с ценой выше среднего</td>
            <td *tuiCell="'value'" tuiTd>{{ reservationsPrices$ | async }} штуки</td>
          </tr>
        </tbody>
      </table>

      <h4 class="tui-text_h4">Количество броней для разных типов номеров</h4>

      <div class="wrapper">
        <tui-ring-chart [value]="(roomReservationsCount$ | async) || []">
          <div>Брони номеров</div>
        </tui-ring-chart>

        <div class="legend">
          <tui-legend-item
            *ngFor="let label of roomReservationsCountLabels$ | async; let index = index"
            size="s"
            class="item"
            [color]="getColor(index)"
            [text]="label"
          ></tui-legend-item>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
