<app-header></app-header>

<div class="profile">
  <div class="container">
    <form class="profile__inner" [formGroup]="formGroup" [tuiTextfieldCleaner]="true" (ngSubmit)="upsertProfile()">
      <h1 class="profile__title tui-text_h1">Контактные данные</h1>

      <tui-input formControlName="surname">
        Фамилия
        <input tuiTextfield type="text" autocomplete="family-name" />
      </tui-input>

      <tui-input formControlName="name">
        Имя
        <input tuiTextfield type="text" autocomplete="given-name" />
      </tui-input>

      <tui-input formControlName="patronymic">
        Отчество
        <input tuiTextfield type="text" autocomplete="additional-name" />
      </tui-input>

      <div>
        <tui-input-date formControlName="birthdate" tuiUnfinishedValidator="Finish filling the field">
          Дата рождения
        </tui-input-date>

        <tui-error formControlName="birthdate" [error]="[] | tuiFieldError | async"></tui-error>
      </div>

      <tui-input-phone-international
        formControlName="phone"
        [countries]="countries"
        [tuiTextfieldLabelOutside]="true"
        [(countryIsoCode)]="countryIsoCode"
      ></tui-input-phone-international>

      <!--      <tui-input formControlName="email">-->
      <!--        Электронная почта-->
      <!--        <input tuiTextfield type="email" autocomplete="email" />-->
      <!--      </tui-input>-->

      <button tuiButton [disabled]="formGroup.invalid || (loading$ | async)!">Сохранить</button>
    </form>
  </div>
</div>

<app-footer></app-footer>
