<app-header></app-header>

<div class="profile">
  <div class="container">
    <form class="profile__inner" [formGroup]="formGroup" [tuiTextfieldCleaner]="true" (ngSubmit)="upsertProfile()">
      <h1 class="tui-text_h1">Контактные данные</h1>

      <tui-input formControlName="surname">
        Фамилия
        <input tuiTextfield type="text" autocomplete="family-name" />
      </tui-input>

      <tui-input formControlName="name">
        Имя
        <input tuiTextfield type="text" autocomplete="given-name" />
      </tui-input>

      <tui-input formControlName="patronymic">
        Отчество
        <input tuiTextfield type="text" autocomplete="additional-name" />
      </tui-input>

      <div>
        <tui-input-date formControlName="birthdate" tuiUnfinishedValidator="Finish filling the field">
          Дата рождения
        </tui-input-date>

        <tui-error formControlName="birthdate" [error]="[] | tuiFieldError | async"></tui-error>
      </div>

      <tui-input-phone-international
        formControlName="phone"
        [countries]="countries"
        [tuiTextfieldLabelOutside]="true"
        [(countryIsoCode)]="countryIsoCode"
      ></tui-input-phone-international>

      <ng-container *ngIf="isClient$ | async">
        <tui-input formControlName="passportSeries">
          Серия паспорта
          <input tuiTextfield type="text" />
        </tui-input>

        <tui-input formControlName="passportId">
          Номер паспорта
          <input tuiTextfield type="text" />
        </tui-input>

        <div>
          <tui-input-date formControlName="passportValidityPeriod" tuiUnfinishedValidator="Finish filling the field">
            Cрок действия паспорта
          </tui-input-date>

          <tui-error formControlName="passportValidityPeriod" [error]="[] | tuiFieldError | async"></tui-error>
        </div>
      </ng-container>

      <ng-container *ngIf="isEmployee$ | async">
        <tui-input formControlName="jobTitle">
          Должность
          <input tuiTextfield type="text" />
        </tui-input>

        <tui-input formControlName="salary">
          Зарплата
          <input tuiTextfield type="text" />
        </tui-input>

        <tui-input formControlName="room">
          Комната
          <input tuiTextfield type="text" />
        </tui-input>

        <tui-input formControlName="workExperience">
          Стаж работы
          <input tuiTextfield type="text" />
        </tui-input>

        <div>
          <tui-input-date formControlName="hiringDay" tuiUnfinishedValidator="Finish filling the field">
            День приема на работу
          </tui-input-date>

          <tui-error formControlName="hiringDay" [error]="[] | tuiFieldError | async"></tui-error>
        </div>

        <div>
          <tui-input-date formControlName="dismissalDay" tuiUnfinishedValidator="Finish filling the field">
            День увольнения
          </tui-input-date>

          <tui-error formControlName="dismissalDay" [error]="[] | tuiFieldError | async"></tui-error>
        </div>
      </ng-container>

      <button tuiButton [disabled]="formGroup.invalid || (loading$ | async)!">Сохранить</button>
    </form>
  </div>
</div>

<app-footer></app-footer>
