<app-header></app-header>

<div class="rooms">
  <div class="container">
    <div class="rooms__inner">
      <h1 class="tui-text_h1">Панель администратора</h1>

      <h4 class="tui-text_h4">Управление номерами</h4>

      <app-editable-table
        [columns]="tableColumns"
        [rows]="(tableRows$ | async) || []"
        (editRow)="editRow($event)"
        (deleteRow)="deleteRow($event)"
      ></app-editable-table>

      <h4 class="tui-text_h4">Управление чем то</h4>

      <app-editable-table
        [columns]="tableColumns"
        [rows]="(tableRows$ | async) || []"
        (editRow)="editRow($event)"
        (deleteRow)="deleteRow($event)"
      ></app-editable-table>
    </div>
  </div>
</div>

<app-footer></app-footer>
