<div class="reviews">
  <div class="reviews__content">
    <div *ngFor="let review of reviews$ | async" class="review">
      <div class="review__info">
        <div>
          <p class="review__author">
            {{ review.client.profile.surname }} {{ review.client.profile.name }} {{ review.client.profile.patronymic }}
          </p>

          <p class="review__date">{{ review.date }}</p>
        </div>

        <tui-rating class="review__rating" [(ngModel)]="review.rating" [readOnly]="true"></tui-rating>
      </div>

      <p class="review__text">{{ review.comment }}</p>
    </div>
  </div>

  <div class="reviews__footer">
    <div class="reviews__footer-group">
      <tui-rating class="review__rating" [formControl]="ratingControl"></tui-rating>

      <tui-input [formControl]="reviewControl">
        Отзыв
        <input tuiTextfield type="text" />
      </tui-input>
    </div>

    <button
      tuiButton
      type="button"
      [disabled]="reviewControl.invalid || ratingControl.invalid"
      (click)="createReview()"
    >
      Отправить
    </button>
  </div>
</div>
