<app-header></app-header>

<div class="hero">
  <div class="container">
    <div class="hero__text">
      <h1 class="hero__text-title">Премиум отель в центре Минска</h1>
      <p class="hero__text-description">
        Povetek Отель — великолепный пятизвёздочный отель в самом сердце Минска. Гости могут расположиться в одном из
        237 комфортабельных номеров и 30 люксов высокого класса.
      </p>
      <div class="hero__text-actions">
        <button class="hero__text-action" tuiButton type="button" routerLink="/main">Забронировать сейчас</button>
        <button class="hero__text-action" tuiButton appearance="outline" type="button">Исследовать варианты</button>
      </div>
    </div>

    <div class="hero__image">
      <tui-carousel [(index)]="index" [itemsCount]="1" [draggable]="true" [duration]="4000">
        <img *tuiItem class="hero__image-image" src="/assets/homepage/hotel.webp" alt="" draggable="false" />
        <img *tuiItem class="hero__image-image" src="/assets/homepage/hotel5.webp" alt="" draggable="false" />
        <img *tuiItem class="hero__image-image" src="/assets/homepage/hotel3.webp" alt="" draggable="false" />
        <img *tuiItem class="hero__image-image" src="/assets/homepage/hotel2.webp" alt="" draggable="false" />
      </tui-carousel>
    </div>
  </div>
</div>

<div class="products">
  <div class="container">
    <div class="products__list">
      <div class="products__list-item">
        <tui-svg class="products__list-item-icon" src="tuiIconZapLarge"></tui-svg>
        <div class="products__list-item-title">Фитнес-клуб</div>
        <div class="products__list-item-description">Чистые залы для тренировок с новыми тренажерами</div>
        <div class="products__list-item-hover blue">View on the App Store</div>
      </div>

      <div class="products__list-item">
        <tui-svg class="products__list-item-icon" src="tuiIconWindLarge"></tui-svg>
        <div class="products__list-item-title">SPA Riviera</div>
        <div class="products__list-item-description">Совершенный SPA-лайнер, переносящий вас в мир красоты</div>
        <div class="products__list-item-hover green">View on the Play Store</div>
      </div>

      <div class="products__list-item">
        <tui-svg class="products__list-item-icon" src="tuiIconCoffeeLarge"></tui-svg>
        <div class="products__list-item-title">Ресторан ТЕРРА</div>
        <div class="products__list-item-description">Ресторан современной белорусской кухни</div>
        <div class="products__list-item-hover red">Install now</div>
      </div>

      <div class="products__list-item">
        <tui-svg class="products__list-item-icon" src="tuiIconShieldLarge"></tui-svg>
        <div class="products__list-item-title">Частная охрана</div>
        <div class="products__list-item-description">Постоянная охрана и досмотр всех входящих и выходящих</div>
        <div class="products__list-item-hover purple">Add to Chrome</div>
      </div>

      <div class="products__list-item">
        <tui-svg class="products__list-item-icon" src="tuiIconBriefcaseLarge"></tui-svg>
        <div class="products__list-item-title">Рабочие зоны</div>
        <div class="products__list-item-description">Просторные места для комфортной работы</div>
        <div class="products__list-item-hover yellow">Download</div>
      </div>
    </div>
  </div>
</div>

<div class="testimonials">
  <div class="container">
    <div class="testimonials__inner">
      <div class="testimonials__title">Нам доверяют лучшие компании планеты</div>

      <ul class="testimonials__list">
        <li class="testimonials__list-item">
          <img class="testimonials__list-item-icon" src="assets/icons/twilio.svg" alt="" />
        </li>

        <li class="testimonials__list-item">
          <img class="testimonials__list-item-icon" src="assets/icons/mattel.svg" alt="" />
        </li>

        <li class="testimonials__list-item">
          <img class="testimonials__list-item-icon" src="assets/icons/riot-games.svg" alt="" />
        </li>

        <li class="testimonials__list-item">
          <img class="testimonials__list-item-icon" src="assets/icons/google.svg" alt="" />
        </li>

        <li class="testimonials__list-item">
          <img class="testimonials__list-item-icon" src="assets/icons/unilever.svg" alt="" />
        </li>

        <li class="testimonials__list-item">
          <img class="testimonials__list-item-icon" src="assets/icons/peloton.svg" alt="" />
        </li>
      </ul>
    </div>
  </div>
</div>

<app-footer></app-footer>
