.rooms {
  padding: 60px 16px;

  &__inner {
    width: 100%;
  }
}

.filter {
  width: 100%;
  display: flex;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 24px;
}

.card {
  max-width: 484px;
  position: relative;
  overflow: hidden;

  &__image {
    width: 100%;
    display: block;
    border-radius: 8px 8px 0 0;
    aspect-ratio: 1.5;
  }

  &__content {
    padding: 16px;
    border: 1px solid #ececec;
    border-radius: 0 0 8px 8px;
  }

  &__block {
    padding-left: 3px;
    padding-right: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: rgb(17 24 39 / 1);
    font-size: 26px;
    font-weight: 600;
    line-height: 1.5;
  }

  &__price {
    color: rgb(17 24 39 / 1);
    font-size: 26px;
    font-weight: 600;
    line-height: 1.5;
  }

  &__description {
    margin-top: 16px;
    padding-left: 3px;
    display: flex;
    gap: 15px;
    align-items: center;

    color: rgb(107 114 128 / 1);
    font-size: 1rem;
    line-height: 1.25rem;

    &-item {
      display: flex;
      align-items: center;
      gap: 6px;

      sup {
        font-size: 0.8em;
        position: relative;
        top: -4px;
        left: -5px;
      }
    }
  }

  &__additional {
    margin-top: 16px;
    display: flex;
    gap: 10px;
    align-items: center;

    &-item {
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 6px;

      color: #3d3d3d;
      border-radius: 8px;
      background-color: #f7f7f8;
    }
  }

  &__button {
    margin-top: 18px;
    width: 100%;
  }
}

.m-t {
  margin-top: 18px;
}

.margin-top {
  margin-top: 30px;
}

.w-100 {
  width: 100%;
}

.mb-0 {
  margin-bottom: 10px;
}

.print_table {
  display: none;
}

@media print {
  app-header,
  .card,
  app-footer {
    display: none;
  }

  .rooms {
    padding-top: 0;
    padding-bottom: 0;
  }

  .cards {
    margin-top: 0;
  }

  .card {
    max-width: 800px;
  }

  .print_table {
    display: table;
  }
}

.button-wrapper {
  margin-top: 18px;
  width: 100%;
  display: flex;
  gap: 10px;

  button {
    flex-grow: 1;
    max-width: 50%;
  }
}

.ended {
  padding: 15px 80px;
  background-color: #ff4f03;
  transform: translateX(50%) translateY(-50%) rotateZ(45deg);

  color: rgb(17, 24, 39);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;

  position: absolute;
  top: 45px;
  right: 45px;
}
