<app-header></app-header>

<div class="rooms">
  <div class="container">
    <div class="rooms__inner">
      <form class="filter" tuiGroup [formGroup]="formGroup" (ngSubmit)="filtersSubmit()">
        <tui-select formControlName="roomType">
          Тип комнаты
          <input tuiTextfield />
          <tui-data-list-wrapper *tuiDataList [items]="roomTypes"></tui-data-list-wrapper>
        </tui-select>

        <tui-select formControlName="bedCount">
          Количество мест
          <input tuiTextfield />
          <tui-data-list-wrapper *tuiDataList [items]="bedCount"></tui-data-list-wrapper>
        </tui-select>

        <tui-select formControlName="floorNumber">
          Этаж
          <input tuiTextfield />
          <tui-data-list-wrapper *tuiDataList [items]="floorNumbers"></tui-data-list-wrapper>
        </tui-select>

        <tui-select formControlName="area">
          Площадь
          <input tuiTextfield />
          <tui-data-list-wrapper *tuiDataList [items]="areas"></tui-data-list-wrapper>
        </tui-select>

        <button tuiButton>Поиск</button>
      </form>

      <div class="cards">
        <div *ngFor="let room of rooms$ | async" class="card">
          <img class="card__image" [src]="room.image" alt="" />

          <div class="card__content">
            <div class="card__block">
              <div class="card__title">Номер {{ room.room_type }}</div>
              <div class="card__price">{{ room.price_per_night }} BYN</div>
            </div>

            <div class="card__description">
              <div class="card__description-item">
                <tui-svg src="tuiIconUsersLarge"></tui-svg>
                {{ room.bed_count }} мест(а)
              </div>

              <div class="card__description-item">
                <tui-svg src="tuiIconLayersLarge"></tui-svg>
                Этаж {{ room.floor_number }}
              </div>

              <div class="card__description-item">
                <tui-svg src="tuiIconMaximize2Large"></tui-svg>
                Площадь {{ room.area }} м<sup>2</sup>
              </div>
            </div>

            <div class="card__additional">
              <div *ngIf="room.has_wifi" class="card__additional-item">
                <tui-svg src="tuiIconWifiLarge"></tui-svg>
                Wi-Fi
              </div>

              <div *ngIf="room.has_tv" class="card__additional-item">
                <tui-svg src="tuiIconTvLarge"></tui-svg>
                Телевизор
              </div>

              <div *ngIf="room.has_air_conditioning" class="card__additional-item">
                <tui-svg src="tuiIconWindLarge"></tui-svg>
                Кондиционер
              </div>
            </div>

            <button class="card__button" tuiButton appearance="outline" (click)="showReviews(room)">Отзывы</button>
            <button class="card__button" tuiButton (click)="showDialog(room)">Забронировать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>

<ng-template
  let-observer
  [tuiDialogOptions]="{ label: 'Выберите дополнительные опции', size: 'xxl' }"
  [(tuiDialog)]="open"
>
  <form [formGroup]="transferGroup" (ngSubmit)="modalSubmit(observer)">
    <h3 class="title margin-top mb-0">Количество дней</h3>
    <tui-input-slider formControlName="days" [min]="min" [max]="max" [steps]="totalSteps">
      Количество дней
    </tui-input-slider>

    <h3 class="title margin-top mb-0">Ресторан</h3>
    <div tuiGroup [collapsed]="true">
      <tui-radio-block
        *ngFor="let restaurant of restaurants$ | async"
        contentAlign="right"
        formControlName="restaurant"
        size="l"
        [hideRadio]="true"
        [item]="restaurant"
      >
        {{ restaurant.name }}

        <tui-tooltip [content]="restaurant.address" direction="bottom"></tui-tooltip>
      </tui-radio-block>
    </div>

    <h3 class="title margin-top mb-0">Меню</h3>
    <div tuiGroup [collapsed]="true">
      <tui-radio-block
        *ngFor="let menu of menus$ | async"
        contentAlign="right"
        formControlName="menu"
        size="l"
        [hideRadio]="true"
        [item]="menu"
      >
        {{ menu.name }}

        <tui-tooltip [content]="menu.description" direction="bottom"></tui-tooltip>
      </tui-radio-block>
    </div>

    <h3 class="title margin-top mb-0">Трансфер</h3>
    <div tuiGroup [collapsed]="true">
      <tui-radio-block
        *ngFor="let transfer of transfers$ | async"
        contentAlign="right"
        formControlName="transfer"
        size="l"
        [hideRadio]="true"
        [item]="transfer"
      >
        {{ transfer.name }}
      </tui-radio-block>
    </div>

    <button class="margin-top w-100" tuiButton type="submit" [disabled]="transferGroup.invalid">Подтвердить</button>
  </form>
</ng-template>
