*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --tui-font-heading: "Inter", sans-serif;
  --tui-font-text: "Inter", sans-serif;

  --tui-primary: #0066ff;
}

body {
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-variation-settings: "wght" 450;
}
