*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --tui-font-heading: "Inter", sans-serif;
  --tui-font-text: "Inter", sans-serif;
  --tui-disabled-opacity: 0.40;

  --tui-primary: #221e1f;
  --tui-primary-hover: #221e1f;
  --tui-primary-active: #221e1f;
}

body {
  text-rendering: optimizeSpeed;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  font-variation-settings: "wght" 450;
}

.container {
  margin: 0 auto;
  width: auto;
  max-width: 1500px;
  display: flex;
}
