<footer class="footer">
  <div *ngIf="homepage$ | async as homepage" class="footer__container">
    <p class="footer__text">
      © {{ homepage.name }} находится по адресу: {{ homepage.address }}, {{ homepage.city }}, {{ homepage.country }}
    </p>

    <nav class="footer__social">
      <ul class="footer__social-list">
        <li class="footer__social-item">
          <a class="footer__social-link" [href]="'mailto:' + homepage.email" rel="nofollow noopener noreferrer">
            <tui-svg src="tuiIconMailLarge"></tui-svg>
          </a>
        </li>

        <li class="footer__social-item">
          <a class="footer__social-link" [href]="'tel:' + homepage.phone_number" rel="nofollow noopener noreferrer">
            <tui-svg src="tuiIconPhoneCallLarge"></tui-svg>
          </a>
        </li>

        <li class="footer__social-item">
          <a class="footer__social-link" [href]="homepage.website" target="_blank" rel="nofollow noopener noreferrer">
            <tui-svg src="tuiIconMonitorLarge"></tui-svg>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>

<div class="beautiful-line"></div>
